/* nav and footer starts */

@font-face {
    font-family: italic;
    src: url(/fonts/Italic.woff2);
}
@font-face {
    font-family: thick;
    src: url(/fonts/thick.woff2);
}
@font-face {
    font-family: smallthick;
    src: url(/fonts/tinythick.woff2);
}
@font-face {
    font-family: about;
    src: url(/fonts/about.woff2);
}
@font-face {
    font-family: Icon;
    src: url(/fonts/icons.ttf);
}
.leftLogoImg {
    background-image: url("https://www.daintyjewells.com/asset/66f5960bde210?h=250&fit=max&fm=webp");
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -10px;
}
.midLogoImg {
    background-image: url("https://cdn11.bigcommerce.com/s-x44wvls/stencil/1014d8c0-5366-013d-6b8f-162daa4a7cb5/e/8a6488d0-5365-013d-5b86-7ace73b76492/images/dainty-jewells-logo.png");
    height: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
    top: -30px;
}
.rightLogoImg {
    background-image: url("https://www.daintyjewells.com/asset/66f59616d7e4f?h=250&fit=max&fm=webp");
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: -10px;
}
.font-system {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.icons {
    color: #c64c1b90;
    font-size: 1.2em;
}
.footer-bg {
    background-image: url("https://www.daintyjewells.com/asset/66f59505e6f54?h=250&fit=max&fm=webp");
    height: 500px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.grid {
    display: grid;
}
.three-col {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.span span {
    margin-bottom: 15px;
    font-size: .9em;
    font-family: smallthick;
}

/* nav and footer ends */

/* body */
.w65 {
    width: 65%;
    margin: auto;
}
.head p {
    color: grey;
    font-family: thick;
}
.head h1 {
    font-family: italic;
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 2.3em;
    color: grey;
    margin-top: 50px;
}
header {
    font-family: italic;
    font-weight: lighter;
    font-size: 1.7em;
    letter-spacing: 3px;
    margin: 10px 0;
}
.myForm {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.374);
    border-bottom: 1px solid rgba(128, 128, 128, 0.374);
    padding: 30px 0;
}
input {
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.461);
    border-radius: 5px;
    margin: 8px 0;
}
select {
    padding: 6px;
    border: 1px solid rgba(128, 128, 128, 0.461);
    border-radius: 5px;
    margin: 8px 0;
    font-family: italic;
    font-size: 1.2em;
}
input:focus {
    border: 2px solid rosybrown;
}
label{
    font-family: about;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: .9em;
    color: rgb(52, 48, 48);
}
.Err {
    color: rgba(228, 16, 16, 0.877);
    font-family: Icon;
}
.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px 0;
}
.btn button {
    padding: 15px;
    border: none;
    background-color: rgba(233, 150, 122, 0.434);
    font-family: about;
    font-size: .7em;
    letter-spacing: 2px;
}

/* two-col */
.two-col {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
}
.bg-colone {
    background-color: #DFAFA7;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.col-one {
    padding: 40px 0;
}
.col-one p {
    font-family: italic;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.col-one span {
    font-family: thick;
    font-size: 1.4em;
}
.btn-two button {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.btn-two input {
    padding: 20px;
    width: 60%;
}
.bg-coltwo {
    background-color: #EFF1F1;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}
.col-two p {
    font-family: italic;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    width: 75%;
    margin: auto;
    padding: 20px 0;
}
.col-two span {
    font-family: smallthick;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* dd */
.dd {
    position: relative;
    display: inline-block;
}
.fa-angle-down {
    cursor: pointer;
}
.fa-user {
    cursor: pointer;
}
.ddc {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-family: about;
    margin-top: 3px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.426);
    border-radius: 5px;
}
.ddc a {
    color: grey;
    text-decoration: none;
    font-size: .7em;
}
.show{
    display: block;
}
/* dropdowncontent */
.dropdownmenu {
    position: relative;
    display: inline-block;
}
.fa-angle-down {
    cursor: pointer;
}
.fa-user {
    cursor: pointer;
}
.userIcon {
    display: flex;
}
.userIcon:hover {
    color: #DFAFA7;
}
.dropdownitems {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-family: about;
    margin-top: 3px;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.426);
    border-radius: 5px;
}
.dropdownitems a {
    color: grey;
    text-decoration: none;
    font-size: .7em;
}
.show{
    display: block;
}


/* DropdownNav */
.dropdownNav {
    width: 100%;
    z-index: 100;
}
.navImg img{
    width: 70px;
}
.smallLogo {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 50%;
    top: 40px;
}
.smallLogo img {
    width: 30px;
}
.nav.hide {
    display: none;
}
#reveal {
    position: fixed;
    display: none;
    top: 0;
    transition: opacity 0.5s;
    opacity: 0;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
    width: 100%;
}
#reveal.show {
    display: block;
    opacity: 1;
    z-index: 200;
    animation: dropdown 2s forwards;
}
@keyframes dropdown {
    0% {
      height: 0;
      opacity: 0;
    }
    80% {
      height: auto;
      opacity: 1;
    }
    100% {
      height: auto;
      opacity: 1;
    }
}
#reveal.hide {
    animation: dropdown-reverse 2s forwards;
} 
  @keyframes dropdown-reverse {
    0% {
      height: auto;
      opacity: 1;
    }
    80% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 0;
      opacity: 0;
    }
} 